@charset "UTF-2";

body{
    background-color: lightpink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: blue;
    background-color: rgb(0, 0, 41);
}
h2{
    color: blueviolet;
}
p{
    text-align: justify;
}
